header {
    display: flex;
    flex-direction: column;   /* mobile primeiro */
    gap: 3rem;
    text-align: center;
    padding: 1rem;
}
body {
  opacity: 0;
  transition: opacity 0.1s ease;
}

/* Quando a página terminar de carregar */
body.loaded {
  opacity: 1;
}

/* Quando for sair da página */
body.fade-out {
  opacity: 0;
}
.titlePage {
    font-family: "Birthstone", cursive;
}
.paragraph, #titleBigDay {
    text-align: center;
    margin: 1rem 0 2rem 0;
    font-size: xx-large;
    font-weight: 400;
    color: #000000;
    font-family: "Montserrat", sans-serif;
}
.paragraph {
    font-size: medium;
    font-weight: 500;
}
#imgColors {
    width: 100%;
    max-width: 300px;
    height: auto;
}
.containerInspirationImageGodParents {
    display: flex;
    align-items: center;
    justify-content: center;
}
h2 {
    text-align: center;
    font-family: "Birthstone", cursive;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    margin: 2rem 0;
}
#backgroundImageGpdParents, #bridesmaids {
    margin: 0.5rem 0;
    width: 100%;
    height: auto;
}
.iconGodParents {
    width: 8rem;
    height: auto;
}
#containerDetails {
    display: flex;
    flex-direction: column;  /* mobile empilhado */
    gap: 2rem;
}
#containerDetails {
    text-align: center;
}
#titleBigDay {
    font-weight: 500;
}
.containerIconsGodParents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}
.containerCardsDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.manualContainer {
    display: flex;
    justify-content: center;
}

.manualImage {
    width: 100%;
    height: auto;
    display: block;
}
.containerButtonAction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#arrowNextImage {
    width: 4rem;
}
.buttonsAction {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    max-width: 2.5rem;
    font-size: x-small;
    border-radius: 50px;
    background-color: #00245F;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: white;
    font-weight: bold;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.buttonsAction:hover {
    transform: translateY(-3px);
}

.buttonsAction:active {
    transform: scale(0.97);
}

@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
}
@media (min-width: 1024px) {
    #containerDetails {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
}