
:root {
    --color-pink: #FFA1AD;
    --color-brown: #3A3116;
    --color-blue: #00245F;
}

/* body {
  font-family: 'MinhaFonte', sans-serif;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  opacity: 0;
  transform: translateY(15px);
  transition: opacity 0.1s ease, transform 0.1s ease;
}

body.loaded {
  opacity: 1;
  transform: translateY(0);
}

body.fade-out {
  opacity: 0;
  transform: translateY(-15px);
}
main {
    max-width: 1100px;
    margin: 0 auto;
}

section {
    margin: 0 1rem;
    padding-bottom: 3rem;
}
.backgroundImageRoses {
    background-image: url('../images//background/ROSAS_LOGO_PANELA.png');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 21vh;
    width: 100%;
}
.containerNameHeart {
    display: flex;
    justify-content: center;
}
#nameHeart {
    width: 16rem;
}
#names {
    width: 20rem;
}
.containerNames, .containerDate {
    display: flex;
    justify-content: center;
}
.containerDate {
    align-items: center;
    gap: 20px;
}
.containerIcons {
    display: flex;
    justify-content: space-evenly;
}
.icon {
    width: 60px;
    max-width: 15%;
    height: auto;
}
.paragraph, .paragraphAtention, .paragraphAdress, .paragraphPix {
    text-align: center;
    margin: 1rem 0;
    font-weight: 400;
    color: #00245F;
    font-family: "Montserrat", sans-serif;
}
.paragraphAdress {
    font-size: small;
}
.paragraphAtention {
    font-size: x-small;
}
.paragraphPix {
    text-align: center;
    margin: 0;
}
#month, #dateDay {
    font-size: clamp(2rem, 5vw, 3.5rem);
    text-align: center;
    font-family: "DM Serif Display", serif;
    font-weight: normal;
    color: #FFA1AD;
}
.detailsDate {
    font-size: larger;
    color: #00245F;
    font-family: "DM Serif Display", serif;
    font-weight: normal;
    text-decoration: underline overline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
}
#infoPaymentHome {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    max-width: 500px;
    font-size: small;
    margin: 1rem auto;
    color: #3A3116;
    border: 2px solid #3A3116;
    padding: 5px;
    border-radius: 85.5px;
    display: flex;
    gap: 10px;
    align-items: center;
}
#infoPaymentHome > * {
    color: #3A3116;
}
#iconHome {
    margin:0 10px;
    height: 2rem;
    width: 2rem;
}
.containerButtonAction {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.buttonsAction {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    max-width: 250px;
    font-size: x-small;
    border-radius: 20px;
    padding: 10px;
    background-color: #00245F;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: white;
    font-weight: bold;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.buttonsAction:hover {
    transform: translateY(-3px);
}

.buttonsAction:active {
    transform: scale(0.97);
}
/* tablets e celulares grandes */
@media (min-width: 480px) {
    .backgroundImageRoses {
        min-height: 56vh;
    }
}

/* tablet */
@media (min-width: 767px) {
    .backgroundImageRoses {
        min-height: 80vh;
    }
    #names {
        width: 40rem;
    }
}

/* desktop */
@media (min-width: 1024px) {
    section {
        margin: 0 2rem;
    }
    .paragraph {
        font-size: 1.2rem;
    }

    .paragraphAdress {
        font-size: 1rem;
    }

    .paragraphAtention {
        font-size: 0.9rem;
    }

    .buttonsAction {
        font-size: 1rem;
        width: 18rem;
    }
}