body{
    margin:0;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(135deg,#fff5f7,#fff);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    text-align:center;
    background:white;
    padding:50px 30px;
    border-radius:16px;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
    max-width:500px;
    width:90%;
}

.emoji{
    font-size:2rem;
}

h1{
    color:#00245F;
    margin-top:20px;
}

p{
    color:#3A3116;
    line-height:1.6;
    margin-top:15px;
}

.names{
    font-weight:bold;
    color:#00245F;
    font-family: "Montserrat", sans-serif;
}

button{
    margin-top:30px;
    padding:14px 28px;
    border:none;
    border-radius:8px;
    font-weight: bold;
    background-color: #00cf33;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.2s;
}

button:hover{

    font-weight: bold;
    background-color: #00cf33;
}
.buttonAction {
    font-weight: bold;
    background-color: #00cf33;
}
#initialsNames {
    color: #00245F;
    margin: 0.5rem 0;
    text-align: center;
    font-weight: 500;
    font-size: clamp(2rem, 6vw, 3.5rem);
    font-family: "Great Vibes", cursive;
}

lottie-player{
max-width:220px;
width:60%;
margin:auto;
}

@media (max-width:600px){

.container{
    padding:40px 20px;
}

h1{
    font-size:24px;
}

}

#iconHome {
    width: 2rem;
}
.buttonsAction {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    max-width: 2.5rem;
    font-size: x-small;
    border-radius: 50px;
    background-color: #00245F;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: white;
    font-weight: bold;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.buttonsAction:hover {
    transform: translateY(-3px);
}

.buttonsAction:active {
    transform: scale(0.97);
}